<div class="container">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/heroes-component">Heros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/enemies-component">Enemies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/detail-hero-component/3"
          >Detail Hero</a
        >
      </li>
    </ul>
  </nav>
  <br />
  <hr />
  <!-- <app-heroes></app-heroes> -->
  <router-outlet></router-outlet>
</div>
